{% extends 'core/base.html' %}
{% load static %}
{% block title %}D-52 About{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid about mt-5">
    <div class="container text-light my-5">
        <div>
            <h1 class="display-2">About,</h1>
            <h1 class="display-4">How to use?</h1>
        </div>
        <div class="lead">
            <p>We are here to help you.</p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="shadow-lg" id="accordion">
        <div class="card">
            <div class="card-header" id="addData">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAddData"
                        aria-expanded="true" aria-controls="collapseAddData">
                        How to add data?
                    </button>
                </h5>
            </div>

            <div id="collapseAddData" class="collapse show" aria-labelledby="addData" data-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li class="h5">Go to <b>Add Data</b> page from the navigation bar. It will show there if you are already logged in.</li>
                        <li class="h5">If you want to add a new record for the item, then follow the following steps and
                            fill the <b>Add Item Record</b> form-
                            <ul class="mt-2">
                                <li class="h6">Select <b>Date</b>.</li>
                                <li class="h6">Select <b>your name</b>.</li>
                                <li class="h6">Enter <b>item name</b>.</li>
                                <li class="h6">Enter <b>item price</b>.</li>
                                <li class="h6">Click <b>Add</b> button.</li>
                                <li class="h6">You will get a message that <q><i><b>Your item record successfully
                                                added</b></i></q>.</li>
                            </ul>
                        </li>
                        <li class="h5">If you want to add a new record for the water, then follow the following steps
                            and fill the <b>Add Water Record</b> form-
                            <ul class="mt-2">
                                <li class="h6">Select <b>Date</b>.</li>
                                <li class="h6">Select <b>quantity</b>.</li>
                                <li class="h6">Click <b>Add</b> button.</li>
                                <li class="h6">You will get a message that <q><i><b>Water record successfully
                                                added</b></i></q>.</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="seeRecords">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeeRecords"
                        aria-expanded="false" aria-controls="collapseSeeRecords">
                        How to see records?
                    </button>
                </h5>
            </div>
            <div id="collapseSeeRecords" class="collapse" aria-labelledby="seeRecords" data-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li class="h5">If you want to see all items records, then go to <b>See Records</b> page from the
                            navigation bar.</li>
                        <li class="h5">If you want to see any person's personal items records, then press the
                            <b>Detailed View</b> button which is on the home page.</li>
                        <li class="h5">If you want to see water records, then press the <b>Detailed View</b> button
                            which is on the home page.</li>
                        <li class="h5">Apart from this, if you want, you can write the name of an item in the <b>Search
                                Bar</b> and see all the records related to that item.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="progressReport">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseProgressReport"
                        aria-expanded="false" aria-controls="collapseProgressReport">
                        How to see progress report?
                    </button>
                </h5>
            </div>
            <div id="collapseProgressReport" class="collapse" aria-labelledby="progressReport" data-parent="#accordion">
                <div class="card-body">
                    <div class="pl-3 h5">If you want to see all progress reports, then go to <b>Progress Reports</b>
                        page from the navigation bar.</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="downloadExcelSheet">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseDownloadExcelSheet" aria-expanded="false"
                        aria-controls="collapseDownloadExcelSheet">
                        How to download Excel Sheet?
                    </button>
                </h5>
            </div>
            <div id="collapseDownloadExcelSheet" class="collapse" aria-labelledby="downloadExcelSheet"
                data-parent="#accordion">
                <div class="card-body">
                    <div class="pl-3 h5">If you want to download the excel file of records, then go to <b>Download Excel
                            Sheet</b> page in <b>More</b> section of the navigation bar and press <b>Download</b> button
                        of that record.</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="feedback">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFeedback"
                        aria-expanded="false" aria-controls="collapseFeedback">
                        How to give feedback or suggestion?
                    </button>
                </h5>
            </div>
            <div id="collapseFeedback" class="collapse" aria-labelledby="feedback" data-parent="#accordion">
                <div class="card-body">
                    <div class="pl-3 h5">Go to <b>Feedback</b> page in <b>More</b> section from the navigation bar then
                        follow the following steps and fill the <b>Suggestion</b> form-
                        <ul class="mt-2">
                            <li class="h6">Enter <b>your name</b>.</li>
                            <li class="h6">Enter <b>problom topic</b> or <b>suggestion topic</b>.</li>
                            <li class="h6">Enter <b>problom message</b> or <b>suggestion message</b>.</li>
                            <li class="h6">Click <b>Submit</b> button.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}