{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'records/css/style.css' %}">
{% endblock %}
{% block title %}D-52 Download{% endblock title %}
{% block content %}
<div class="container-fluid py-5 download mt-5">
  <div class="container py-5 text-dark">
    <div>
      <h1 class="display-3">Download</h1>
    </div>
    <div class="lead">
      <p class="ps-1">Thank you for visiting.</p>
    </div>
  </div>
</div>
<div class="container shadow-lg p-4 mb-5 rounded border">
  <h2 class="text-center alert alert-secondary">Download Records</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped border">
      <tbody>
        <tr>
          <td class="h5">
            Overall Items Records
            <a class="float-right btn btn-sm btn-danger" href="{% url 'records:overall_xls' %}" role="button">Download</a>
          </td>
        </tr>
        <tr>
          <td class="h5">
            Satyam Items Records
            <a class="float-right btn btn-sm btn-danger" href="{% url 'records:user_xls' 'Satyam Seth' %}"
              role="button">Download</a>
          </td>
        </tr>
        <tr>
          <td class="h5">
            Ankit Items Records
            <a class="float-right btn btn-sm btn-danger" href="{% url 'records:user_xls' 'Ankit Kumar Gupta' %}"
              role="button">Download</a>
          </td>
        </tr>
        <tr>
          <td class="h5">
            Ganga Items Records
            <a class="float-right btn btn-sm btn-danger" href="{% url 'records:user_xls' 'Ganga Sagar Bharti' %}"
              role="button">Download</a>
          </td>
        </tr>
        <tr>
          <td class="h5">
            Prashant Items Records
            <a class="float-right btn btn-sm btn-danger" href="{% url 'records:user_xls' 'Prashant Kumar Yadav' %}"
              role="button">Download</a>
          </td>
        </tr>
        <!-- <tr>
          <td class="h5">
            Water Entry Records
            <a class="float-right btn btn-sm btn-danger" href="#" role="button">Download</a>
          </td>
        </tr>
        <tr>
          <td class="h5">
            Electricity Bill Records
            <a class="float-right btn btn-sm btn-danger" href="#" role="button">Download</a>
          </td>
        </tr>
        <tr>
          <td class="h5">
            Maid Salary Records
            <a class="float-right btn btn-sm btn-danger" href="#" role="button">Download</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}