{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'records/css/style.css' %}">
{% endblock %}
{% block title %}D-52 See Records{% endblock title %}
{% block content %}
<!-- TODO: Create base record list template with user defended block for jumbotron class name, style and title and page title -->
<div class="container-fluid py-5 mt-5 {% if records_active %} records {% endif %}" {% if not records_active %} style="background-image: url('{{user.profile.cover_photo.url}}');" {% endif %}>
  <div class="container py-5 text-light">
    <div>
      <!-- TODO: Fix this once base template ready for record_list template -->
      <h1 class="display-2">{{user.get_full_name|title}} Records</h1>
    </div>
    <div class="lead">
      <p class="ps-2">See all records carefully.</p>
    </div>
  </div>
</div>
<div class="container shadow-lg p-4 mb-5 rounded border">
  <h1 class="text-center alert alert-secondary">Item Records</h1>
  {% if record_list %}
  <div class="table-responsive">
    <table class="table table-hover table-striped border">
      <thead>
        <tr>
          <th scope="col">S. No.</th>
          <th scope="col">Date</th>
          <th scope="col" class="d-none d-sm-block">Day</th>
          <th scope="col">Item Name</th>
          <th scope="col">Price</th>
          <th scope="col">Purchase By</th>
          <th scope="col" class="d-none d-sm-block">Entry ID</th>
        </tr>
      </thead>
      <tbody>
        {% for record in record_list %}
        <tr>
          <th scope="row">{{forloop.counter0|add:page_obj.start_index }}</th>
          <td>{{record.purchase_date|date:"d M Y"}}</td>
          <td class="d-none d-sm-block">{{record.purchase_date|date:"D"}}</td>
          <td>{{record.item|capfirst}}</td>
          <td>{{record.price}}</td>
          <td>{{record.purchaser}}</td>
          <td class="d-none d-sm-block">{{record.id}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      {% include 'core/pagination.html' %}
    </div>
  </div>
  {% else %}
  <h4 class="text-center alert alert-warning">No Records Found</h4>
  {% endif %}
</div>
{% endblock content %}