{% extends 'core/base.html' %}
{% load static %}
{% block title %}D-52 Feedback{% endblock title %}
{% block content %}
<div class="container-fluid py-5 feed my-5">
  <div class="container text-light my-5">
    <div>
      <h1 class="display-4">Feedback</h1>
    </div>
    <div class="lead">
      <p>Please give your valuable feedback.</p>
    </div>
  </div>
</div>
<div class="container border rounded shadow-lg mb-5">
  <form class="p-4" method="POST">
    {% csrf_token %}
    <h1 class="text-center alert alert-secondary pb-3">Suggestion</h1>
    <div class="row">
      <div class="col-sm-6 py-2">
        {{form.name}}
      </div>
      <div class="col-sm-6 py-2">
        {{form.problem}}
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        {{form.message}}
      </div>
    </div>
    <div class="py-2">
      <button type="submit" class="btn btn-sm btn-success">Submit
        <i class="fas fa-paper-plane"></i>
      </button>
      <button type="reset" class="btn btn-sm btn-success">Reset
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </form>
</div>
{% endblock content %}