{% extends 'core/base.html' %}
{% load static %}
{% block title %}D-52 Home{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid home">
    <div class="container text-light my-5">
        <div>
            <h1 class="display-4">Hi,</h1>
            <h1 class="display-4">My Dear Friends</h1>
        </div>
        <div class="lead">
            <p>This website is created to manage our flat accounting.</p>
            <p>I hope it is very helpful for us.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}
        role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container-fluid">
    <div class="row card-deck justify-content-center">
        {% for record in records %}
        <div class="card shadow-lg mb-4" style="width: 18rem;">
            <img src="{{ record.user.profile.avatar.url }}" class="card-img-top img-thumbnail"
                alt="{{record.user.full_name}}">
            <div class="card-body text-center">
                <!-- TODO: remove this if condition once first and last name of user is marked as required fields -->
                <h3 class="card-title">{% if record.user.get_full_name %}{{record.user.get_full_name}}{% else %}{{record.user.username}}{% endif %}</h3>
                <h5 class="card-text">Total <span class="text-danger">{{record.user.purchaser.count}}</span> Items <i
                        class="fas fa-cart-arrow-down"></i></h5>
                <h5 class="card-text">Total <i class="fas fa-rupee-sign"></i><span class="text-danger">
                        {{record.total_spent|default_if_none:0|stringformat:".2f"}}/-</span>
                </h5>
                <a class="btn btn-outline-dark" href="{% url 'records:detailed' record.user.id %}" role="button">Detailed View
                    <i class="far fa-eye"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if electricity.price %}
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{% static 'core/images/electricity.jpg' %}" class="card-img" alt="electricity">
        </div>
        <div class="col-md-8">
            <div class="card-body text-center pt-5">
                <div class="display-3"><i class="fas fa-plug text-warning mr-2"></i>Electricity Bill</div>
                <h1 class="pt-3">
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">{{electricity.price}}</span>
                    <span>({{e_pp}} per person)</span>
                </h1>
                <h2 class="pt-2">Payment Due Date <span class="text-danger">{{electricity.due_date|date:"j-M-Y"}}</span>
                </h2>
                {% if e_days_left > 0 %}
                <h3>(<span class="text-danger">{{e_days_left}}</span> days left to pay)</h3>
                {% elif e_days_left < 0 %} <h3>(<span class="text-danger">{{e_days_left|cut:"-" }}</span> days delay)
                    </h3>
                    {% else %}
                    <h3>(pay <span class="text-danger">today</span> immediately)</h3>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{% static 'core/images/water.jpg' %}" class="card-img" alt="water">
        </div>
        <div class="col-md-8">
            <div class="card-body text-center pt-4">
                <h2 class="display-3"><i class="fas fa-tint text-primary mr-2"></i>Water Bill</h2>
                <h1>
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">{{w_price}}</span>
                    <span>({{w_pp}} per person)</span>
                </h1>
                <h2>Total <span class="text-danger">{{w_sum}}</span> water gallons.</h2>
                <a class="mt-2 btn btn-outline-dark" href="{% url 'records:detailed_water' %}" role="button">Detailed View <i
                        class="far fa-eye"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{% static 'core/images/maid.jpg' %}" class="card-img" alt="maid">
        </div>
        <div class="col-md-8">
            <div class="card-body text-center">
                <h2 class="display-4"><i class="fas fa-utensils text-success mr-2"></i>
                    Maid's Salary</h2>
                <h1>
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">{{maid.price}}</span>
                    <span>({{m_pp}} per person)</span>
                </h1>
                <h2>Payment Due Date <span class="text-danger">{{maid.due_date|date:"j-M-Y"}}</span></h2>
                {% if m_days_left > 0 %}
                <h3>(<span class="text-danger">{{m_days_left}}</span> days left to pay)</h3>
                {% elif m_days_left < 0 %} <h3>(<span class="text-danger">{{m_days_left|cut:"-" }}</span> days delay)
                    </h3>
                    {% else %}
                    <h3>(pay <span class="text-danger">today</span> immediately)</h3>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}