{% extends 'core/base.html' %}
{% load static %}
{% block title %}D-52 SignUp{% endblock title %}
{% block content %}

<div class="container-fluid sign-up">
    <div class="row h-100 align-items-center justify-content-center my-5">
        <div class="col-lg-6">
            <h2 class="text-center alert alert-secondary my-3 shadow">Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="text-center shadow alert alert-warning my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
                {% for field in form %}
                <div class="form-group mb-3">
                    {{field.label_tag}} {{field}} <small class="shadow text-danger">{{field.errors|striptags}}</small>
                    {% if field.help_text %}
                    {% endif %}
                    <small class="shadow text-dark">{{ field.help_text|safe }}</small>
                </div>
                {% endfor %}
                <div class="text-center">
                    <input type="reset" value="Reset" class="btn btn-primary shadow">
                    <input type="submit" value="Signup" class="btn btn-success shadow">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}