{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'data/css/style.css' %}">
{% endblock %}
{% block title %}D-52 Add Data{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid add mt-5">
  <div class="container py-5">
    <div>
      <h1 class="display-2">Add Data</h1>
    </div>
    <div class="lead">
      <p>Please fill all information correctly.</p>
    </div>
  </div>
</div>
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
</div>
<div class="container border rounded shadow-lg mb-5">
  <h1 class="text-center alert alert-secondary mt-4">Add Item Record</h1>
  <form action="{% url 'add_item' %}" method="POST" class="p-2 mb-4">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        {{form1.purchase_date.label_tag}}
        {{form1.purchase_date}}
      </div>
      <div class="form-group col-md-6">
        {{form1.purchaser.label_tag}}
        {{form1.purchaser}}
      </div>
      <!-- <div class="form-group col-md-6">
        <label for="inputPurchaseBy">Purchase By</label>
        <select name="name" class="form-control" id="inputPurchaseBy">
          <option value="Satyam Seth">Satyam Seth</option>
          <option value="Ankit Kumar Gupta">Ankit Kumar Gupta
          </option>
          <option value="Ganga Sagar Bharti">Ganga Sagar
            Bharti</option>
          <option value="Prashant Kumar Yadav">Prashant
            Kumar Yadav</option>
        </select>
      </div> -->
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        {{form1.item.label_tag}}
        {{form1.item}}
      </div>
      <div class="form-group col-md-6">
        {{form1.price.label_tag}}
        {{form1.price}}
      </div>
    </div>
    <button type="reset" class="btn btn-danger">Reset
      <i class="fas fa-undo-alt"></i>
    </button>
    <button type="submit" class="btn btn-primary">Add
      <i class="fa fa-paper-plane"></i>
    </button>
  </form>
</div>
<div class="container border rounded shadow-lg mb-5">
  <h1 class="text-center alert alert-secondary mt-4">Add Water Record</h1>
  <form action="{% url 'add_water' %}" method="POST" class="p-2 mb-4">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        {{form2.date.label_tag}}
        {{form2.date}}
      </div>
      <div class="form-group col-md-6">
        <label for="inputQuality">Quantity</label>
        <select name="quantity" class="form-control" id="inputQuality">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <button type="reset" class="btn btn-danger">Reset
      <i class="fas fa-undo-alt"></i>
    </button>
    <button type="submit" class="btn btn-primary">Add
      <i class="fa fa-paper-plane"></i>
    </button>
  </form>
</div>
{% endblock content %}