{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'data/css/style.css' %}">
{% endblock %}
{% block title %}D-52 Progress Report{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid report mt-5">
    <div class="container py-5 text-light">
        <div>
            <h1 class="display-2">Progress Reports</h1>
        </div>
        <div class="lead">
            <p>See all reports carefully.</p>
        </div>
    </div>
</div>
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="{% static '/data/images/overall.jpg' %}" class="card-img" alt="water">
        </div>
        <div class="col-md-6">
            <div class="card-body text-center pt-4">
                <h4 class="alert alert-secondary">Overall Items Report</h4>
                <h2>Total <span class="text-danger">25</span> Items <i class="fas fa-cart-arrow-down"></i></h2>
                <h2>Total 
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">15405/-</span>
                </h2>
                <h3>(250 per person)</h3>                
            </div>
        </div>
    </div>
</div>
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="{% static '/data/images/satyam.jpg' %}" class="card-img" alt="water">
        </div>
        <div class="col-md-6">
            <div class="card-body text-center pt-4">
                <h4 class="alert alert-secondary">Satyam Seth Report</h4>
                <h2>Total <span class="text-danger">25</span> Items <i class="fas fa-cart-arrow-down"></i></h2>
                <h2>Spent 
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">15405/-</span>
                </h2>
                <h2>Due 
                    <i class="pl-1 fas fa-rupee-sign"></i>
                    <span class="text-danger">1425/-</span>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="{% static '/data/images/ankit.png' %}" class="card-img" alt="water">
        </div>
        <div class="col-md-6">
            <div class="card-body text-center pt-4">
                <h4 class="alert alert-secondary">Ankit Gupta Report</h4>
                <h2>Total <span class="text-danger">25</span> Items <i class="fas fa-cart-arrow-down"></i></h2>
                <h2>Spent 
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">15405/-</span>
                </h2>
                <h2>Due 
                    <i class="pl-1 fas fa-rupee-sign"></i>
                    <span class="text-danger">1425/-</span>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="{% static '/data/images/ganga.png' %}" class="card-img" alt="water">
        </div>
        <div class="col-md-6">
            <div class="card-body text-center pt-4">
                <h4 class="alert alert-secondary">Ganaga Sagar Report</h4>
                <h2>Total <span class="text-danger">25</span> Items <i class="fas fa-cart-arrow-down"></i></h2>
                <h2>Spent 
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">15405/-</span>
                </h2>
                <h2>Due 
                    <i class="pl-1 fas fa-rupee-sign"></i>
                    <span class="text-danger">1425/-</span>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="card shadow-lg m-3">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="{% static '/data/images/prashant.png' %}" class="card-img" alt="water">
        </div>
        <div class="col-md-6">
            <div class="card-body text-center pt-4">
                <h4 class="alert alert-secondary">Prashant Yadav Report</h4>
                <h2>Total <span class="text-danger">25</span> Items <i class="fas fa-cart-arrow-down"></i></h2>
                <h2>Spent 
                    <i class="fas fa-rupee-sign"></i>
                    <span class="text-danger">15405/-</span>
                </h2>
                <h2>Due 
                    <i class="pl-1 fas fa-rupee-sign"></i>
                    <span class="text-danger">1425/-</span>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock content %}